.collection-add-delete{
    .add-container {
        text-align: right;
        margin: 1em auto;
        
        .add-trigger {
            display: inline-block;
            background: $default-primary-color;
            padding: .75em 1.5em;
            color: white;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    li.dynamic-insert, 
    .dynamic-insert {
        @include clearfix;
        padding: 1.5em 1em;
        margin-bottom: 0;

        &:nth-child(even){
            background: rgba($j29-blue, .05);
        }

        &:hover{
            background: rgba($j29-blue, .1);
        }
        
        .form-controls-box,
        .close,
        .image-preview {
            float: left;
        }

        .form-controls-box {width: 90%;}
        .close {width: 10%;}

        &.single-image {
            .form-controls-box {width: 60%;}
            .image-preview { width: 30%; }
        }

        &.single-link {
            .form-controls-box {
                @include flex;

                .form-row.link-text {
                    @include basis($width-33);
                    padding: 0 5px;
                }

                .form-row.link {
                    @include basis($width-66);
                    padding: 0 5px;
                }
            }
        }
    }

    .close {
        text-align: center;
        opacity: 0.5;
        filter: alpha(opacity=50);

        &:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

        .icon {
            color: red;
            font-size: 130%;
        }
    }

    .image-preview {} // image styles in images-documents
}