.admin.page-crud-index,
.admin.page-crud-action {
    /*------------ page titles ------------*/
    .page-title {
        margin: 1em auto;
        font-size: 3.6em;
    }

    /*------------ flashbags ------------*/
    .flashbags-container {
        margin: 3em auto;
    }

    .alert.alert-success,
    .alert.alert-warning,
    .alert.alert-danger,
    .form-global-errors-container {
        font-size: 1.8em;
        max-width: 960px;
        margin: 0 auto 1em;
        line-height: 1.4em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.admin.page-crud-index {
    .additional-admin-links {
        @include clearfix;

        .sorting {
            .dropdown-menu {
                &, & li {padding: 0}

                li {margin: 0;}
                
                a {padding: 12px;}
            }
        }
    }

    .table-container {
        margin: 4em auto;

        /*------------ cell padding ------------*/
        .header, 
        .column {
            padding: 20px;

            &.center-text {text-align: center;}
        }

        .table-row-header,
        .table-row-body {
            @include flex;
        }

        /*------------ table headings ------------*/
        .table-row-header {
            background: rgba(black, .6);
            /*------------ curved edges ------------*/
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            
            .header{
                font-size: 1.8em;
                color: white;
                margin: 0;
                font-weight: 300;
                /*------------ column strokes ------------*/
                border-right: 1px solid rgba($default-primary-color, .4);
                border-left: 1px solid rgba(white, .6);
                &:first-child {border-left: none;}
                &:last-child {border-right: none;}
            }
        }
        
        /*------------ table rows ------------*/
        .table-row-body {
            font-size: 1.4em;
            
            /*------------ stripped bg ------------*/
            &:nth-child(even) {background: rgba(black, .05);}
            &:nth-child(odd) {background: rgba(black, .1);}

            /*------------ curved edges ------------*/
            &:last-child {
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }

            .column {
                /*------------ column strokes ------------*/
                border-right: 1px solid rgba(black, .2);
                border-left: 1px solid rgba(white, .8);
                &:first-child {border-left: none;}
                &:last-child {border-right: none;}
                line-height: 1.4em;   
            }

            /*------------ image previews ------------*/
            .thumbnail {
                @include center;
                max-width: 100%;
                height: auto;
                -webkit-box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                -moz-box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                line-height: 1;
            }
        }
    }
}

.admin.page-crud-action,
.page-www-form {
    .container { margin-bottom: 2em; }

    form.form-action,
    form.www-form {
        @include center;
        
        /*------------ form [sizes] ------------*/
        &.small {max-width: 767px;}
        &.medium {max-width: 960px;}
        &.large {max-width: 1200px;}
        
        /*------------ form [global errors] ------------*/
        .form-global-errors-container {
            ul {
                padding: 1em;
                margin: 1em auto;
                background: red;
                border-radius: 5px;
                color: white;
                text-align: center;
                font-weight: lighter;
                border: 2px solid white;

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .form-controls {
            padding: 4em;
            border: 1px solid $gray70;
            background: $gray90;
            margin: 2em auto;

            // Rows with multiple inputs
            .flex {
                @include flex;
                .form-row {padding: 5px;}
            }
        }

        /*------------ form [submit/cancel] ------------*/
        .form-submission-controls {
            text-align: center;

            .btn {
                margin: 0 2px;
                display: inline-block;
                width: 45%
            }
        }
    }

    form.form-delete {
        width: 320px;
        padding: 1em;
        border: 1px solid rgba(255,0,0,.5);
        background: rgba(red, .1);
        margin: 0 auto 4em 0;
        border-radius: 12px;
        text-align: center;

        .btn {
            margin: 0;
        }
    }
}

@import 'form-controls';
@import 'sublabels';
@import 'images-documents';
@import 'collections';
@import 'markdown';