.admin.page-crud {
    &-index,
    &-action {
        /*------------ page titles ------------*/
        .page-title {
            margin: 1em auto;
            font-size: 3.6em;
        }

        /*------------ flashbags ------------*/
        .alert.alert-success,
        .alert.alert-warning,
        .alert.alert-danger {
            font-size: 1.8em;
            max-width: 960px;
            margin: 3em auto;
        }
    }

    &-index {
        .table-container {
            margin: 4em auto;

            /*------------ cell padding ------------*/
            .header, 
            .column {
                padding: 20px;

                &.center-text {text-align: center;}
            }

            .table-row-header,
            .table-row-body {
                @include flex;
            }

            /*------------ table headings ------------*/
            .table-row-header {
                background: rgba(black, .6);
                /*------------ curved edges ------------*/
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                
                .header{
                    font-size: 1.8em;
                    color: white;
                    margin: 0;
                    font-weight: 300;
                    /*------------ column strokes ------------*/
                    border-right: 1px solid rgba($default-primary-color, .4);
                    border-left: 1px solid rgba(white, .6);
                    &:first-child {border-left: none;}
                    &:last-child {border-right: none;}
                }
            }
            
            /*------------ table rows ------------*/
            .table-row-body {
                font-size: 1.4em;
                
                /*------------ stripped bg ------------*/
                &:nth-child(even) {background: rgba(black, .05);}
                &:nth-child(odd) {background: rgba(black, .1);}

                /*------------ curved edges ------------*/
                &:last-child {
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                .column {
                    /*------------ column strokes ------------*/
                    border-right: 1px solid rgba(black, .2);
                    border-left: 1px solid rgba(white, .8);
                    &:first-child {border-left: none;}
                    &:last-child {border-right: none;}   
                }

                /*------------ image previews ------------*/
                .thumbnail {
                    @include center;
                    max-width: 100%;
                    height: auto;
                    -webkit-box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                    -moz-box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                    box-shadow: 0 8px 18px -9px rgba(0, 0, 0, 1);
                }
            }
        }
    }
}