html,
body {
    height: 100%;
    position: relative;
    font-weight: 400;
    color: $gray25;
}

.admin { font-size: 10px; }

a { color: $default-primary-color; }

button {
    padding:0; 
    margin:0;
    border:0;
    background-color:transparent;
}

.hide-on-desktop {
    @include query($responsive-7){
        display: none;
    }
}

.hide-on-mobile {
    @include query($responsive-7-max){
        display: none;
    }
}

.float-left {float: left;}
.float-right {float: right;}

.float-inline-left {text-align: left;}
.float-inline-right {text-align: right;}
