html,
body {
    position: relative;
    font-weight: 400;
    color: $gray25;
}

html {height: 100%;}

body {    
    min-height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

a { color: $default-primary-color; }

button {
    padding:0; 
    margin:0;
    border:0;
    background-color:transparent;
}

.hide-on-mobile {
    display: none;
}

.float-left {float: left;}
.float-right {float: right;}

/*------------ pages ------------*/
.admin { font-size: 10px; }
.admin.page-cms-homepage { @include flex; }

.page-unpublished-message {
    background: orange;
    color: white;
    padding: 1em;
    font-size: 14px;
    text-align: center;
}

/*------------ javascript toggle triggers ------------*/
.js-trigger-show-hide {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    background: #007f26;
    border-radius: 100%;
    text-align: center;
    line-height: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    @include inline-flex;
    justify-content: center;
    align-items: center;

    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
        color: white;
    }
}

.js-toggle-show-hide {display: none;}