/* .copyright {
    position: relative;
    padding: 10px 0;

    .heading {
        text-align: center;
        font-weight: lighter;
    }

    .admin-home,
    .log-in-out {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .fa {
            font-size: 1.5em;
        }
    }

    .admin-home,
    .log-in-out.login {
        &:link, &:visited, &:hover, &:active {
            color: $default-primary-color;
        }
    }

    .admin-home { right: 3em; }

    .log-in-out {
        right: 1em;

        &.logout {
            &:link, &:visited, &:hover, &:active {
                color: green;
            }
        }
    }
} */