.copyright {
    @include query($responsive-7){
        @include flex;
    }

    .heading, 
    .admin-access-links {
        margin: 0;
        padding: 1em;
    }

    .heading {
        font-weight: lighter;
        text-align: center;

        @include query($responsive-7){
            text-align: left;
            @include basis(80%);
        }

        @include query($responsive-7){
        }

        @include query($responsive-9){
            @include basis(90%);
        }
    }

    .admin-access-links {
        background: black;
        text-align: center;

        @include query($responsive-7){
            @include basis(20%);
        }

        @include query($responsive-9){
            @include basis(10%);
        }

        .link,
        .link i {
            color: white;

        }

        .link {
            font-size: 21px;
            margin: 0 5px;
            
            &.logout i {
                color: green;
            }
        }
    }

}